<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KCKwebowka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KCKwebowka.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AllegroV2</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Products/Cart">Koszyk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/Search">Wyszukiwarka</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products">Lista Produktów</a>
                    </li>
                    <li>
                        <form method="post" asp-action="TogglePrice" asp-controller="Products"  class="form-inline">
                            <label for="priceToggle" class="mr-2">Ceny: </label>
                            <input type="checkbox" id="priceToggle" name="priceToggle"
                                   value="true" @(ViewBag.ShowBrutto == true ? "checked" : "") />
                            <span>@(ViewBag.ShowBrutto == true ? "Brutto" : "Netto")</span>
                            <button type="submit">Zapisz</button> <!-- Dodany przycisk submit -->
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
